/* font import link 
--------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&family=Work+Sans:wght@400;500;600;700&display=swap");

/* universal style
------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* basic styles 
----------------*/
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff900e;
  padding: 20px 25px;
  border: 0;
  border-radius: 8px;
}

/* some root styles 
---------------------*/
body {
  font-family: "Work Sans", sans-serif;
  max-width: 100%;
}
header {
  background-color: #fff4e7;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}

/* navbar styles 
------------------*/
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  gap: 150px;
}
.nav-logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-menu ul {
  display: flex;
  gap: 55px;
  margin-right: 20px;
}
.nav-menu ul li {
  list-style: none;
}
.nav-menu ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  text-decoration: none;
}
/* navbar section ended */

/* banner section styles
-------------------------- */
.banner-info {
  position: relative;
  margin-top: 117px;
  text-align: center;
}
.banner-title {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.banner-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.button {
  text-align: center;
  margin-top: 18px;
}
.banner-photo {
  text-align: center;
  margin-top: 50px;
}

/* feature section styles
---------------------------*/
.feature-section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 92px;
}
.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.feature-info {
  margin-top: 157px;
}
.feature-info-title {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 24px;
}
.feature-info-title .white {
  color: #727272;
}
.feature-info-title .black {
  color: #131313;
}
.feature-info-title .orange {
  color: #ff900e;
}
.feature-header-cart {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 31px 28px;
  margin-top: 30px;
}
.feature-info-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
  line-height: 25px;
}

/* feature display styles
------------------------- */
.feature-display {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 146px;
  margin-top: 130px;
  position: relative;
}
.feature-display-image {
  position: relative;
}
.feature-info-header {
  display: flex;
  gap: 21px;
}
.vertical-line {
  width: 5px;
  height: 106px;
  background-color: #ff900e;
  margin-right: 15px;
}
.header-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.header-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  line-height: 22px;
}
.cart-section {
  padding: 45px 30px;
}
.header-cart-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  margin: 0;
}
.header-cart-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 8px;
}
.second-btn {
  padding: 40px 20px;
  position: absolute;
  top: 90%;
  left: -18%;
}
.btn-head {
  font-weight: 700;
  font-size: 65px;
}

/* statistics section styles
---------------------------- */
.statistics {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 180px;
}
.statistic-header {
}
.statistic-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.statistic-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.stats-carts {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-top: 100px;
}
.stat-container {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 62px 35px;
  text-align: center;
  transition: 1s;
}
.stat-container:hover {
  transform: translate(30px, 20px) rotate(180deg) scale(0.5);
  background-color: #f368e0;
  border: 4px solid #000000;
}
.content {
  padding: 10px 10px;
}
.stat-container img {
  margin-bottom: 10px;
}
.stats-cart-title {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin-bottom: 5px;
}
.stats-cart-descrip {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
  margin: 0;
}
/* statistics styles ended here */

/* sponsors styles started 
----------------------------*/
.sponsors {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 180px;
}
.sponsor-header {
  text-align: center;
  margin-bottom: 90px;
}
.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.sponsor-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  line-height: 25px;
}
.sponsor-org {
  display: flex;
  justify-content: center;
  gap: 155px;
}
.org-photo img {
  filter: grayscale(1);
}

/* pyramid section styles
-------------------------- */
.pyramid-section {
  display: flex;
  justify-content: center;
  gap: 65px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 180px;
}
.pyramid-info {
  text-align: center;
}
.pyramid-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.pyramid-descrip {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  line-height: 25px;
  padding: 10px 10px;
  background: #ffffffc5;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
/* pyramids styles ended here */

/* footer section styles
-------------------------*/
.footer-section {
  background: #fff4e7;
  border-radius: 8px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center;
  padding: 23px 57px;
  margin-bottom: 30px;
}
.footer-section p {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
}

/* -----------------
Responsive Styles 
-------------------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* whole body */
  body {
    width: 100%;
    margin: 0 auto;
  }
  /* nav responsiv */
  .navbar {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav-menu ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: -25px;
  }

  /* banner responsiv */
  .banner-photo img {
    width: 100%;
  }
  .banner-title {
    font-size: 30px;
    line-height: 55px;
  }

  /* feature responsiv */
  .feature-section {
    flex-direction: column;
  }
  .feature-image {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .feature-image img {
    width: 80%;
    margin: 0 auto;
  }
  .feature-info {
    text-align: center;
  }
  .feature-section {
    flex-direction: column;
  }

  /* feature head responsiv */
  .feature-info-header {
    text-align: center;
  }
  .vertical-line {
    margin-left: 10px;
  }
  .header-title {
    font-size: 30px;
  }
  .feature-info-header h3 {
    text-align: left;
  }
  .feature-info-header p {
    text-align: center;
  }
  .feature-display-image {
    position: relative;
    text-align: center;
  }
  .feature-display-image img {
    width: 90%;
    margin: 0 auto;
  }
  .feature-display {
    flex-direction: column;
  }
  .second-btn {
    width: 60%;
    height: auto;
    position: absolute;
    left: 55px;
    top: 90%;
  }
  .btn-head {
    font-size: 35px;
    font-weight: 600;
  }

  /* statistic responsiv */
  .statistic-header {
    text-align: center;
    margin: 0 auto;
  }
  .statistic-discrip {
    margin-bottom: 30px;
  }
  .stats-carts {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
  }

  /* sponsor responsiv */
  .sponsor-org {
    flex-direction: column;
  }
  .sponsor-org .org-photo {
    margin: 0 auto;
  }

  /* pyramid responsiv */
  .pyramid-section {
    flex-direction: column;
  }
  .pyramid-descrip {
    margin-bottom: 25px;
  }
  .pyramid-photo {
    text-align: center;
    margin-bottom: -100px;
  }
  .pyramid-photo img {
    width: 90%;
    margin: 0 auto;
  }

  /* footer responsiv */
  .footer-section {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px 10px;
  }
  .footer-section p {
    font-size: 14px;
    margin: auto;
  }
}
